body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  position: relative;
  overflow: auto;
}

.app-title {
  text-align: center;
  color: #d66aa8;
  margin-bottom: 15px;
  font-size: 2rem;
}

.input-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#noteInput {
  flex: 1;
  max-width: 400px;
  padding: 10px;
  border: 2px solid #f3b8d1;
  border-radius: 10px;
  outline: none;
}

#addBtn {
  padding: 10px 15px;
  background-color: #d66aa8;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

#addBtn:hover {
  background-color: #c25992;
}

.note {
  position: absolute;
  background: #ffe6f0;
  padding: 15px;
  min-width: 150px;
  min-height: 100px;
  border-radius: 12px;
  border: 1px solid #f4c9dd;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  cursor: grab;
  overflow-wrap: break-word;
  word-wrap: break-word;
  z-index: 1000;
}

.note button {
  position: absolute;
  top: 5px;
  right: 8px;
  background: none;
  border: none;
  color: #d66aa8;
  font-size: 16px;
  cursor: pointer;
}
